body {
 background: url(/bg.png) repeat-y  ;
 background-size: 100%
}
.ui.container {
  max-width: 980px !important;
}
#logo {
  width: 145px;
  height: 14px;
}

.ru-orange {
  color: rgb(242, 101, 34);
}


.ui.horizontal.divider:before {
  height: 42px;
}

.at-social-btn {

  height: 42px !important;
  border-radius: 10px !important;
  background-color: #2185d0 !important;
  color: #fff !important;
  text-transform: uppercase !important;
}


.at-social-btn i{
  background-color: #2185d0 !important;
  color: #fff !important;
  font-size: 1.5em !important;
}
